body {
  font-family: "Questrial", sans-serif;
  background-color: #bbbec6;
}
.header {
  font-size: 40px;
}
.header a {
  font-size: 20px;
}

.navbar {
  background-color: #455052;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.honeychain-navbar {
    background-color: #836EA7;
    transition: all .2s ease-in;
}

.tomteller-navbar {
    background-color: #432115;
    transition: all .2s ease-in;
}

.slimcity-navbar {
    background-color: #2F2F2F;    
    transition: all .2s ease-in;
}

.navbar-brand {
  font-size: 35px;
}

.content {
  background-color: #f1f1f1;
  color: #263433;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom:50px;
  margin-bottom: 85px;
  margin-top:100px;

  text-align: justify;
  text-justify: inter-word;

  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.content h1 {
  font-size: 40px;
}

.content p {
    font-size: 22px;
}

.content a {
    font-size: 22px;
}

.about h1 {
  color: #263433;
  font-size: 30px;
  padding-bottom: 1px;
}

.about h2 {
  color: #263433;
  font-size: 23px;
  padding-bottom: 1px;
}

.about p {
  color: #263433;
  font-size: 17px;
  padding-bottom: 1px;
}

.btn {
    border:0px solid transparent;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn-outline-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #0077B5;
}